<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Public Opinion Analysis</title>

        <!-- styles -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/styles/styles.css" />
    </head>
    <body>
        <nav>
            <div class="nav-center">
                <h4><a href="/">Public Opinion Analysis</a></h4>
                <ul class="nav-links">
                    <li>
                        <a href="/finance">Finance</a>
                    </li>
                    <li>
                        <a href="/politics">Politics</a>
                    </li>
                    <li>
                        <a href="/entertainment">Entertainment</a>
                    </li>
                    <li>
                        <a href="#">Search</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main style="margin-top: 60px;">
        <div style="text-align: center; justify-content: center; align-items: center;">
            <h2>Political Sentiment in the United States</h2>
            {% for figure in figure_list %}
                <div style="margin: 30px; display: inline-block;">
                <h4>{{figure}}</h4>
                <img src="{{base_64_dict[figure]}}" alt="image of twitter sentiment" height="250px" width="350px" class="center" style="margin-top: 30px; margin-bottom: 30px;"/>
                </div>
            {% endfor %}
        </div>
        </main>
        <footer>
            <div class="footer-center">
                <h4>© 2022 Public Opinion Analysis </h4>
                <ul class="footer-links">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/RohanJoshi28/public-opinion-analysis">GitHub</a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>